*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
     scroll-behavior: smooth;
}

body{
     margin:5px;
}

a{
     text-decoration: none;
     color: inherit;
}

a:hover{
     text-decoration: underline;
}
.separator{
     padding-right: 25px;
     border-right: 1px solid white;
}


.btn{
     padding: 10px 20px;
     outline: none;
     border: none;
     border-radius: 5px;
}

.btn:hover{
     cursor: pointer;
     opacity: 0.9;
}

.header-image-container{
     height:90vh;
     background-image: url("./images/main.png");
     background-size: cover;
     position: relative;
     box-shadow: 0px 10px 15px #0008;
}

.header-image-container .title{
     color: white;
     position: absolute;
     left: 10%;
     top:40%;
}

.header-image-container .start-btn{
     position: absolute;
     background-color:#0069c9;
     color: white;
     bottom: 20%;
     left: 20%;

}

.header-nav-wrapper{
     display: flex;
     justify-content: center;
     background-color:#0008;
}

.logo{
     flex:1;
     width: 100px;
     height: 100px;
     background-color: white;
}
.header-container{
     flex:8;
     color:white;

}

.header{
     display: flex;
     justify-content: space-between;
     background-color: black;
     padding: 5px;
}

.navigation-bar,.header{
     padding: 10px;
}

.nav-items{
     padding: 10px;
}

.header-item{
     list-style: none;
     margin: 0 15px;
     display: inline-block;
     border: 2px solid black
}

.nav-item{
     display: inline-block;
     margin:0 10px;
}

.image-card{
     position: relative;
     width: 30vw;
     height: 40vw;
     padding: 2px;
     margin: 2px 5px;
     overflow: hidden;
}

.image-card img{
     width: 100%;
     height: 100%;
}

.image-card .image-data{
     font-family: 'Geneva';
     letter-spacing: 1px;
     width: 100%;
     background-color: #0004;
     text-indent: 1.5em;
     font-size: 18px;
     color: white;
     position: absolute;
     bottom: 10px;
     left:10px;
     transform:translateX(-10px) translateY(-10px)
}

.image-card .image-data .image-description{
     letter-spacing: 0px;
     height: 0;
     width: 0;
     overflow: hidden;
     transition:  0.25s ease-in;
     font-size: 14px;

}

.image-card:hover .image-data .image-description{
     margin-top:20px;
     height: fit-content;
     width: fit-content;
}

.special-content-wrapper{
     margin-top: 40px;
     display: flex;
     background-color: #f7f6f0;
     padding: 5px;
     box-shadow: 0px -5px 50px black;

}


.special-content{
     margin-left:20px;
     flex:1;
     overflow: hidden;
}

.image-slider{
     flex:3;
}

.tag{
     text-transform: uppercase;
     color: #2c9cd0;
     margin-bottom: 20px;
     font-size:18px;
}

.special-btn{
     border:1px solid black;
     border-radius:0px;
     align-self: center;

}

.title{
     margin:40px 0px;
}

.special-paragraph{
     letter-spacing: 1px;
     margin-bottom: 20px;
}


.slider-controller{
     margin:40px auto;
}

.slider-controller .controller-left{
     transform: rotate(180deg);
}

.slider-controller *{
     font-size: 24px;
     border:2px solid #289eec55;
     display:inline-block;
     width:50px;
     height: 50px;
     text-align: center;
     line-height: 45px;
     color:#2c9cd0;
     border-radius: 25px;
     font-weight: bolder;
     transition: 0.8s;
}

.slider-controller *:hover{
     background-color: #289eec;
     color: #ffffff;
     cursor: pointer;

}

.images{
     display: flex;
     align-items: center;
     flex-wrap: wrap;

}

.experience{
     display: flex;
     background-image: url("./images/background.jpg");
     background-size: cover;
}

.experience *{
     flex:1;
     padding: 10px;
     margin-top: 40px;
}

.experience .text-wrapper p{
     line-height: 40px;
}

.images *{
     flex:1;
}

.plan{
     padding: 10px;
     margin:20px;
     text-align: center;
}

.img-wrapper .exp-photo{
     width: 100%;
     height: 100%;
     opacity: 0.5;

}


.image-container{
     display: flex;
     margin: 0 auto;
     justify-content: space-around;
}



